<div class="search">
  <form [formGroup]="searchBar" (ngSubmit)="searchValue()">
    <input type="text" placeholder="Search City" formControlName="search">
  </form>
</div>

<div class="container" *ngIf='weatherInfo'>
  <div class="upper-data">
    <img class="hot" src="../assets/hot.jpg" alt="Hot Weather Image" *ngIf='weatherInfo.main.temp > 30'>
    <img class="normal" src="../assets/normal.jpg" alt="Hot Weather Image" *ngIf='weatherInfo.main.temp > 15'>
    <img class="cold" src="../assets/cold.jpg" alt="Hot Weather Image" *ngIf='weatherInfo.main.temp < 15' >
    <div class="weather-data">
      <div class="locataion">{{weatherInfo.name | titlecase}}</div> 
      <div class="temperature">{{exactTemp | number:'1.0-0'}}°C</div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">
      More information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <i style='font-size:24px' class='fas'>&#xf2c9;</i>
          <span>Weather</span>
        </div>
        <div class="info-block-value">
          {{weatherInfo.weather[0].main}}
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <i style='font-size:24px' class='fas'>&#xf2c9;</i>
          <span>Feels Like</span>
        </div>
        <div class="info-block-value">
          {{exactTemp | number:'1.0-0'}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <i style='font-size:24px' class='fas'>&#xf2c9;</i>
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherInfo.main.humidity}}
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <i style='font-size:24px' class='fas'>&#xf2c9;</i>
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{weatherInfo.wind.speed}}
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>